@mixin mobile {
  @media screen and (max-width: 768px) {
    @content;
  }
}

@mixin container {
  // display: flex;
  height: 50vh;
  // width: 100vw;
}

@mixin game {
  width: 600px;
  height: 600px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}

@mixin cards {
  // .cards klassen
  width: 30%;
  height: 37%;
  transform: scale(1);
  transition: transform 0.8s;
  backface-visibility: hidden;
  margin: 7px;

  .card__front,
  .card__back {
    width: 100%;
    height: 100%;
    position: absolute;
    border: 0;
    border-radius: 5px;
  }

  &:active {
    transform: scale(0.9);
    transition: transform 0.3s;
  }

  &:hover {
    cursor: pointer;
  }
}

@mixin cards-front {
  transform: rotateY(180deg);
}

@mixin cards-flipped {
  transform: rotateY(180deg);
}
